.movies{
    text-align: center;
}
.movies .movie {
    background-color: white;
    margin-bottom: 70px;
    font-weight: 300;
    padding: 20px;
    border-radius: 5px;
    color: #adaeb9;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    width:100%;
    max-width:600px;
    height:250px;
    vertical-align: top;
    margin:50px 25px 0 0;
    display:inline-block;
    text-align:left;
    position:relative;
    z-index:0;
  }
  .movie .movie_data{
      display:inline-block;
      max-width:380px;
      width:100%;
      vertical-align: top;
  }
  .movies .movie a {
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 2fr;
    grid-gap: 20px;
    text-decoration: none;
    color: inherit;
  }
  
  .movie img {
    position: relative;
    top: -50px;
    max-width: 150px;
    width: 100%;
    margin-right: 30px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  
  .movie .movie_title,
  .movie .movie_year {
    margin: 0;
    font-weight: 300;
  }
  
  .movie .movie_title {
    margin-bottom: 5px;
    font-size: 24px;
    color: #2c2c2c;
  }
  
  .movie .movie_genres {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px;
  }
  
  .movie_genres li,
  .movie .movie_year {
    margin-right: 10px;
    font-size: 14px;
  }

  .movies .movie.active{
      position:fixed;
      z-index:1;
      width:90%;
      height:90%;
      max-width:100%;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      margin:0;
  }
  .movies .movie:hover:not(.active){
    animation:pop 1s infinite;
  }

  .back{
      display:none;
  }

  .back.active{
      display:block;
  }
  @keyframes pop{
      0%{
        top:0px;
      }
      50%{
        top:-20px;
      }
      100%{
        top:0px;
      }
  }